.footer {
  width: 100%;
  position: relative;
  z-index: 30;

  &__container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::before {
      position: absolute;
      content: '';
      width: 660px;
      height: 660px;
      display: block;
      top: -515px;
      right: 0;
      background: url("images/footer/logo_bg.svg") no-repeat;
      background-size: cover;
      pointer-events: none;
      z-index: -1;

      @media (max-width: 1000px) {
        content: none;
      }
    }
  }

  &__logo {

  }

  &__navigation {
    @media (max-width: 768px) {
      display: none;
    }
  }
}