.navigation {

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    gap: 36px;
    align-items: center;
  }

  &__item {
    line-height: 18.75px;

    &:hover {

    }
  }

  &__link {

  }
}