html,
body {
  min-height: 100vh;
  background: #ffffff;;
}

body {
  font-family: "Roboto", sans-serif;
  background: $light-gray;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  position: relative;
  //display: flex;
  //flex-direction: column;
  //height: 100vh;
}

* {
  box-sizing: border-box;

   //outline: 1px solid red !important;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: color 0.3s ease-out;

  &:link,
  &:visited {
    text-decoration: none;
    color: $gray;
    transition: color 0.3s ease-out;
  }

  &:hover,
  &:active {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease-out;
  }
}

.container {
  width: 100%;
  max-width: 1220px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  //@media (max-width: 468px) {
  //  padding-left: 20px;
  //  padding-right: 20px;
  //}
}

ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p, a, button {
  color: $gray;
}

p {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

